
<ng-template #other_content><span style="font-size: 12px;">別のルームに接続したい場合は、他の参加者との接続を切ってください。<br>（※ページリロードで切断できます。）</span></ng-template>
<div>
  <dl>
    <dt>カードの上で[t]</dt>
    <dd>タップ。カードを横にする</dd>
    <dt>カードの上で[u]</dt>
    <dd>アンタップ。カードを縦にする</dd>
    <dt>[→]</dt>
    <dd>テーブルを左に移動</dd>
    <dt>[↑]</dt>
    <dd>テーブルを下に移動</dd>
    <dt>[←]</dt>
    <dd>テーブルを右に移動</dd>
    <dt>[↓]</dt>
    <dd>テーブルを上に移動</dd>
    <dt>[shift]+[→]</dt>
    <dd>テーブルを時計回りに回転</dd>
    <dt>[shift]+[↑]</dt>
    <dd>テーブルを手前に倒す</dd>
    <dt>[shift]+[←]</dt>
    <dd>テーブルを逆時計回りに移動</dd>
    <dt>[shift]+[↓]</dt>
    <dd>テーブルを奥に倒す</dd>
    <dt>[?]</dt>
    <dd>キーボードショートカット表示</dd>
    <dt>[ESC]</dt>
    <dd>キーボードショートカットを閉じる</dd>
  </dl>
</div>