
<div>
  <p>マウスのカーソルがカードの上に載っている状態を「カードの上」としている</p>
  <h3>カード操作</h3>
  <dl class="help-list">
    <dt>カードの上で[t]</dt>
    <dd>カードを横にする</dd>
    <dt>カードの上で[u]</dt>
    <dd>カードを縦にする</dd>
    <dt>カードの上でダブルクリック</dt>
    <dd>カードを裏返す</dd>
    <dt>カードの上で[y]</dt>
    <dd>友好カウンター+1</dd>
    <dt>カードの上で[shift]+[y]</dt>
    <dd>友好カウンター-1</dd>
    <dt>カードの上で[h]</dt>
    <dd>不安カウンター+1</dd>
    <dt>カードの上で[shift]+[h]</dt>
    <dd>不安カウンター-1</dd>
    <dt>カードの上で[a]</dt>
    <dd>暗躍カウンター+1</dd>
    <dt>カードの上で[shift]+[a]</dt>
    <dd>暗躍カウンター-1</dd>
  </dl>

  <h3>テーブル操作</h3>
  <p>テーブルを選択（クリック）した後に以下のキー操作が可能</p>
  <dl class="help-list">
    <dt>[→]</dt>
    <dd>テーブルを左に移動</dd>
    <dt>[↑]</dt>
    <dd>テーブルを下に移動</dd>
    <dt>[←]</dt>
    <dd>テーブルを右に移動</dd>
    <dt>[↓]</dt>
    <dd>テーブルを上に移動</dd>
    <dt>[shift]+[→]</dt>
    <dd>テーブルを時計回りに回転</dd>
    <dt>[shift]+[↑]</dt>
    <dd>テーブルを手前に倒す</dd>
    <dt>[shift]+[←]</dt>
    <dd>テーブルを逆時計回りに移動</dd>
    <dt>[shift]+[↓]</dt>
    <dd>テーブルを奥に倒す</dd>
    <dt>[Home]</dt>
    <dd>テーブルを初期状態に戻す</dd>
  </dl>
  <h3>その他</h3>
  <dl class="help-list">
    <dt>[?]</dt>
    <dd>キーボードショートカット表示</dd>
    <dt>[ESC]</dt>
    <dd>キーボードショートカットを閉じる</dd>
  </dl>
  <h3>著作権について</h3>
  <p><a href="http://bakafire.main.jp/rooper/sr_dl_04_sozai.htm">惨劇コモンズX</a>を使用しています。</p>
  <p>惨劇コモンズ作成: <a href="https://twitter.com/BakaFire">“BakaFire”</a><a href="https://twitter.com/kon_nyo">“紺ノ玲”</a></p>
  <p><a href="http://bakafire.main.jp/top.html">BackFire (BakaFire Party)</a></p>
</div>
