.image {
  padding: 0px;
  width: 32px;
  height: 32px;
  display: table-cell;
  vertical-align: top;
}

.image img{
  width: auto;
  height: auto;
  max-width:100%;
  max-height:100%;
  vertical-align: bottom;
}

.cover {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-wrapper{
  display:flex;
  padding-top: 10px;
  padding-bottom:10px;
}
input {
  width: 165px;
}
#input-target-peer-id {
  width: 100px;
}