
<div>
  <h2>キャラクター一覧</h2>
  <table style="font-size:12px; border: 0; border-spacing: 0; width: 100%;">
      <tr>
        <th>名前</th>
        <th>友好</th>
        <th>不安</th>
        <th>暗躍</th>
        <th>死亡</th>
      </tr>
      <ng-container *ngFor="let card of rooperCards">
        <tr>
          <td>{{card.name}}</td>
          <td>
            <i class="material-icons" (click)="card.increaseGoodwillCounter()">add_circle</i>
            <div>{{card.goodwill}}</div>  
            <i class="material-icons" (click)="card.decreaseGoodwillCounter()">remove_circle</i>
          </td>
          <td>
            <i class="material-icons" (click)="card.increaseParanoiaCounter()">add_circle</i>
            <div>{{card.paranoia}}</div>  
            <i class="material-icons" (click)="card.decreaseParanoiaCounter()">remove_circle</i>
          </td>
          <td>
            <i class="material-icons" (click)="card.increaseIntrigueCounter()">add_circle</i>
            <div>{{card.intrigue}}</div>  
            <i class="material-icons" (click)="card.decreaseIntrigueCounter()">remove_circle</i>
          </td>
          <td>
            <input type="checkbox" [(ngModel)]="card.isDead"/>
          </td>
        </tr>
      </ng-container>
    </table>
</div>